    header{
        text-align: center;
    }
    
    
    
    .headertext {
    margin-top: 10%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation: typing 0.7s forwards;    
    }

    .headername{
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation: typing 0.7s forwards;
    animation-delay: 0.7s;
    }


    @keyframes typing{
        from {width: 0}
        to {width: 60%}
    }

    @keyframes blinking-curser{
        from, to {border-color: transparent}
        50% {border-color: orange;}
    }